<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add To {{day.name}}">
  <ion-content has-header="true" padding="true">
  
	<form ng-submit="submit()">
   Enter text and hit enter:
   <input type="text" ng-model="text" name="text" />
   <a href="#/tab/schedule">
   <button ng-click="addTo(text, day.name)"/>submit</button>
   </a>
    <ion-list>
      <ion-item type="item-text-wrap">
	  hello
        {{day.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
