<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add To {{day.name}}">
  
 
  <ion-content has-header="true" padding="true">
  
  <form name="add">

     Type:
   <select required ng-model="text" ng-options="type.name for type in types" name="type"></select><br>
	<div ng-if="add.type.$error.required" style="color:red;">enter field</div>

   Duration:
   <input type="number" ng-model="time" min="0.5" max="24" name="time" required />
	<div ng-if="add.time.$error.required" style="color:red;">enter field</div>
	<div ng-if="add.time.$error.min || add.time.$error.max" style="color:red;">invalid</div>

   
   <ion-nav-buttons side="right">
	<a href="#/tab/schedule">
    <button class="button button-icon" ng-disabled="add.time.$error.required || add.type.$error.required || 
					add.time.$error.min || add.time.$error.max" ng-click="submit(text, day.name, time)" />Add</button>
	</a>
  </ion-nav-buttons>
   
   </form>
  </ion-content>
</ion-view>
