<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add Exercise">
  <ion-content has-header="true" padding="true">
	<form name="add">
		<label class="item item-input item-select">
		<span class="input-label">Type</span>
        <select required ng-model="exercise.type" ng-options="type for type in types" name="typechosen"></select><br>
		</label>
		
		<label class="item item-input">
		<span class="input-label">Start</span>
        <input required time-field type="time" name="start" ng-model="exercise.start"/>
        <div ng-if="exercise.start && !exercise.start.isValid()" style="color:red;">invalid time</div>
		</label>
		
		<label class="item item-input">
		<span class="input-label">End</span>
        <input required time-field type="time" name="end" ng-model="exercise.end" />
		<div ng-if="exercise.end && ((!exercise.end.isValid() || !exercise.start.isValid()) || exercise.end < exercise.start)" style="color:red;">invalid time</div>
		</label>
		
		<label class="item item-input">
		<span class="input-label">Distance</span>
		<input required type="number" min="0" ng-model="exercise.distance" name="distance" />
		</label>
		
		<label class="item item-input">
		<span class="input-label">Exertion</span>
        <input required type="number" min="0" max="5" ng-model="exercise.exertion" name="exertion" />
		</label>
		
   <ion-nav-buttons side="right">
   <button class="button button-icon" ng-disabled="add.typechosen.$error.required || 
			add.start.$error.required || add.end.$error.required || add.exertion.$error.required
			|| !isTimeValid()" ng-click="submit()"/>Add</button>
	</ion-nav-buttons>
	</form>
  </ion-content>
</ion-view>
