<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add Exercise">
  <ion-content has-header="true" padding="true">
	<form name="add">
        <select required ng-model="type" ng-options="type.name for type in types" name="type"></select><br>
		<div ng-if="add.type.$error.required" style="color:red;">enter field</div>
		
        <input required type="date" ng-model="start" name="start" />
		<div ng-if="add.start.$error.required" style="color:red;">enter field</div>
		
        <input required type="date" ng-model="end" name="end" />
		<div ng-if="add.end.$error.required" style="color:red;">enter field</div>
		
		<input required type="number" min="0" min="50" ng-model="distance" name="distance" />
		<div ng-if="add.distance.$error.required" style="color:red;">enter field</div>
		
        <input required type="number" min="0" min="5" ng-model="exertion" name="exertion" />
		<div ng-if="add.exertion.$error.required" style="color:red;">enter field</div>
   <a href="#/tab/diary">
   <button ng-if="!add.type.$error.required && !add.start.$error.required
				&& !add.end.$error.required && !add.exertion.$error.required && !add.distance.$error.required"
				ng-click="submit(type, start, end, distance, exertion)"/>Add</button>
   </a>
   <button ng-if="add.type.$error.required || add.start.$error.required
				|| add.end.$error.required || add.exertion.$error.required" />Add</button>
	</form>
  </ion-content>
</ion-view>
