
<ion-view title="Edit {{exercise.type.name}}">
  <ion-content has-header="true" padding="true">
  
        <select ng-model="exercise.type" ng-options="type.name for type in types"></select><br>

        <input type="date" ng-model="exercise.start">

        <input type="date" ng-model="exercise.end">

		<input type="number" min="0" min="50" ng-model="exercise.distance">
		
        <input type="number" min="0" min="5" ng-model="exercise.exertion">


   <a href="#/tab/diary">
   <button ng-click="remove(exercise.id)"/>Delete</button>
   </a>
   
  
   
  </ion-content>
</ion-view>
