<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'firend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Edit {{entry.name.name}}">
  <ion-content has-header="true" padding="true">
  
  <h1>time to edit</h1>
  
   Type:
   <select ng-model="newtype" ng-options="type.name for type in types"></select><br>
   Duration:
   <input type="number" min="0" max="24" ng-model="newtime" name="time" />

   <ion-nav-buttons side="right">
   <a href="#/tab/schedule">
   <button class="button button-icon" ng-click="edit(newtype, newtime)"/>Save</button>
   </a>
   </ion-nav-buttons>
   
   <a href="#/tab/schedule">
  <button class="button button-full button-assertive" ng-click="remove(entry.id)"/>Delete</button>
   </a>
   
  </ion-content>
</ion-view>
