<!--
  This template loads for the 'tab.sleep-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Add Sleep">
  <ion-content has-header="true" padding="true">
    <form name="add">
        
		<label class="item item-input">
		<span class="input-label">Start</span>
        <input type="time" name="start" ng-model="start" required>
		</label>
		
        <label class="item item-input">
		<span class="input-label">End</span>
        <input type="time" name="end" ng-model="end" required>
		</label>
		
		
        <label class="item item-input">
		<span class="input-label">Quality</span>
        <select required ng-model="quality" name="quality">
			<option value="1">Poor</option>
			<option value="2">Fair</option>
			<option value="3">Average</option>
			<option value="4">Good</option>
			<option value="5">Excellent</option>
		</select>
		</label>
		
		<ion-nav-buttons side="right">
			<a href="#/tab/diary">
				<button class="button button-icon" ng-disabled="add.start.$error.required || 
				add.end.$error.required || add.quality.$error.required" 
				ng-click="submit(start,end,quality)" />Add</button>
			</a>
		</ion-nav-buttons>
		
    </form>
  </ion-content>
</ion-view>