<!--
  This template loads for the 'tab.sleep-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view title="Edit Sleep">
  <ion-content has-header="true" pediting="true">
    <form name="edit">
        Start
        <input type="time" name="start" ng-model="start" required>
		<div ng-if="edit.start.$error.required" style="color:red;">enter field</div>
		
	
        End
        <input type="time" name="end" ng-model="end" required>
		<div ng-if="edit.end.$error.required" style="color:red;">enter field</div>
		
        <div>Sleep Quality</div>
        <select required ng-model="quality" name="quality">
			<option value="1">Poor</option>
			<option value="2">Fair</option>
			<option value="3">Average</option>
			<option value="4">Good</option>
			<option value="5">Excellent</option>
		</select>
		<div ng-if="edit.quality.$error.required" style="color:red;">enter field</div>
		
		<ion-nav-buttons side="right">
			<a href="#/tab/diary">
				<button class="button button-icon" ng-disabled="edit.start.$error.required || 
				edit.end.$error.required || edit.quality.$error.required" 
				ng-click="submit(start,end,quality)" />Done</button>
			</a>
		</ion-nav-buttons>
		
    </form>
  </ion-content>
</ion-view>