<ion-view title="Mental Test">
  <ion-nav-buttons side="right">
    <button class="button icon ion-navicon" ng-click="doSomething()">
    </button>
  </ion-nav-buttons>
    
  <ion-content class="padding">
    <div class="card">
      <div class="item item-icon-left item-text-wrap">
        <i class="icon ion-information"></i>
        This questionnaire is for 14 July 2014.
      </div>
    </div>
	
	<div class="card">
      <div class="item item-icon-left item-text-wrap">
        In the past 24 hours have you felt:
      </div>
    </div>
  
    <div class="list">
      <!--
      <ion-checkbox ng-repeat="item in surveyOne" ng-model="item.checked" ng-checked="item.checked">{{item.text}}</ion-checkbox>
      -->
      
      <div class="card" ng-repeat="question in surveyOne">
        <div class="item item-divider">
        {{question.id+1}}. {{question.text}}
        </div>
        <div class="item item-text-wrap range">
          <input type="range" name="survey-question-{{question.id}}" max="4" ng-model="question.value" style="height:60px;">
        </div>
        <div class="item item-divider" ng-bind="descriptors[question.value]">
        </div>
      </div>
      <button class="button button-block button-positive">
      Submit
      </button>
    </div>
  </ion-content>
</ion-view>
