<ion-view title="Stats">
	<ion-nav-buttons side="left">
    <button class="button button-icon ion-ios7-gear" ng-click="modal.show()">
    </button>
  </ion-nav-buttons>
  
  <script id="settings.html" type="text/ng-template" ng-controller="settingsCtrl">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">Settings</h1>
	<button class="button button-clear button-primary" ng-click="modal.hide()">Done</button>
        </ion-header-bar>
		<ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="firstname" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="lastname" type="text">
            </label>
          </div>
        </ion-content>
  </ion-modal-view>
</script>
  
  <ion-content class="has-header padding">
  <h1>Stats</h1>
	<h2>TODO</h2>
	

  
  
  
  </ion-content>
</ion-view>

	