<ion-view title="Mental Test">
  <ion-content class="has-header">
  <div ng-if="!completed">
  <h5 align="center"  class="title">
    In the past 24 hours, how often have you felt...
    </h5>
  <ion-slide-box>
    
      <ion-slide ng-repeat="question in questions" type="item-text-wrap">
		
		<div class="questionbox">
		
		 <div class="list card">
      <div class="item item-divider">
        {{(question.id) + ". " + question.name}}
      </div>
      <label class="item item-radio" ng-repeat="option in options" ng-click="answer(question.id,option.id)">
	    <input type="radio" name="group">
        <div class="item-content">
          {{option.name}}
		<p ng-if="testanswers[question.id-1] == option.id">selected</p>
        </div>
        <i ng-if="testanswers[question.id-1] == option.id" class="radio-icon ion-checkmark"></i>
      </label>
		</div>
		
		<div ng-class="{invisible: '{{question.id}}' != '22'}">
		<a href="#" ng-click="submit()"><button>
		Submit
		</button></a>
		</div>
		</div>
		</ion-slide>
    
	</ion-slide-box>
	</div>
	<div ng-if="completed">
		completed
	</div>
	
</ion-content> 
</ion-view>