<ion-view title="Stats">
  
  <ion-content class="has-header padding">
	<div class="list card" align="center">
	<div class="item item-divider">
		Weekly Goals
    </div>
	</div>
	<div class="list card">
    <div class="item item-divider">
		Running
    </div>
		<label class="item" >
			<div class="item-content">
				<span>Goal:</span><span style="float: right;padding-right: 50%;">{{rundist}} km</span>
			</div>
		</label>
		<label class="item" >
			<div class="item-content">
				<span>Actual:</span><span style="float: right;padding-right: 50%;">{{run}} km</span>
			</div>
		</label>
		<label class="item" ng-if="runperc < 100">
			<div class="item-content">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{runperc}} %</span>
			</div>
		</label>
		<label class="item" ng-if="runperc >= 100">
			<div class="item-icon-right">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{runperc}} %</span>
				<i class="icon ion-checkmark" style="color:#66CC33;"></i>
			</div>
		</label>
	</div>

	<div class="list card">
    <div class="item item-divider">
		Cycling
    </div>
		<label class="item" >
			<div class="item-content">
				<span>Goal:</span><span style="float: right;padding-right: 50%;">{{cycledist}} km</span>
			</div>
		</label>
		<label class="item" >
			<div class="item-content">
				<span>Actual:</span><span style="float: right;padding-right: 50%;">{{cycle}} km</span>
			</div>
		</label>
		<label class="item" ng-if="cycleperc < 100">
			<div class="item-content">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{cycleperc}} %</span>
			</div>
		</label>
		<label class="item" ng-if="cycleperc >= 100">
			<div class="item-icon-right">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{cycleperc}} %</span>
				<i class="icon ion-checkmark" style="color:#66CC33;"></i>
			</div>
		</label>
	</div>
	
	<div class="list card">
    <div class="item item-divider">
		Swimming
    </div>
		<label class="item" >
			<div class="item-content">
				<span>Goal:</span><span style="float: right;padding-right: 50%;">{{swimdist}} km</span>
			</div>
		</label>
		<label class="item" >
			<div class="item-content">
				<span>Actual:</span><span style="float: right;padding-right: 50%;">{{swim}} km</span>
			</div>
		</label>
		<label class="item" ng-if="swimperc < 100">
			<div class="item-content">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{swimperc}} %</span>
			</div>
		</label>
		<label class="item" ng-if="swimperc >= 100">
			<div class="item-icon-right">
				<span>Achieved:</span><span style="float: right;padding-right: 50%;">{{swimperc}} %</span>
				<i class="icon ion-checkmark" style="color:#66CC33;"></i>
			</div>
		</label>
	</div>
  
  
  
  </ion-content>
</ion-view>

	