<ion-view title="Mental Test">
  <ion-content class="has-header">
  <h5 align="center"  class="title">
    In the past 24 hours, how often have you felt...
    </h5>
  <ion-slide-box>
    
      <ion-slide ng-repeat="question in questions" type="item-text-wrap">
		
		
		<div class="questionbox">
		
		 <div class="list card">
      <div class="item item-divider">
        {{(question.id) + ". " + question.name}}
      </div>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Not at all
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          A little
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Moderately
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Quite a lot
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">
          Extremely
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
		
      
		
		<div ng-class="{invisible: '{{question.id}}' != '2'}">
		<a href="#"><button>
		Submit
		</button></a>
		</div>
		</div>
		</ion-slide>
    
	</ion-slide-box>
	
	
</ion-content> 
</ion-view>