<ion-view title="Settings">

 <ion-nav-buttons side="right" ng-controller="settingsCtrl">
    <button class="button button-icon" ng-click="save()" ng-class="{'ion-ios7-bookmarks':!saved, 'ion-ios7-bookmarks-outline':saved}">
	</button>
  </ion-nav-buttons>
  
  <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-change="unsave()" ng-model="firstname" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-change="unsave()" ng-model="lastname" type="text">
            </label>
          </div>
        </ion-content>
</ion-view>
