<ion-view title="Diary">
  <ion-nav-buttons side="right">
    <button ng-if="!saved" class="button icon ion-ios7-bookmarks" ng-click="save()" href="#">
    </button>
	<button ng-if="saved" class="button icon ion-ios7-bookmarks-outline" >
    </button>
  </ion-nav-buttons>
  
  <ion-header-bar class="bar bar-subheader">
  <h1 class="title">{{todaytext}}</h1>
  </ion-header-bar>
  
  <ion-content class="has-header">
    <div class="list padding-top">
      <div class="item item-divider item-positive list-positive">
        Exercise
	  <a style="float:right;" href="#/tab/diary/exercise/add">
		<i class="icon ion-ios7-plus-empty" style="font-size: 45px; color: white;"></i>
	  </a>
      </div>
	  <div ng-repeat="exercise in exercises">
      <a class="item item-icon-right" href="#/tab/diary/exercise/{{exercise.id}}">
        <i class="icon ion-ios7-arrow-right"></i>
        {{exercise.distance + " km " + exercise.type + " for " }}
				{{exercise.end.getHours()-exercise.start.getHours()}} 
		<span ng-if="exercise.end.getHours()-exercise.start.getHours() == 1">hr</span>
		<span ng-if="exercise.end.getHours()-exercise.start.getHours() != 1">hrs</span>
      </a>
	  </div>
    </div>
    
	<div class="list padding-top">
      <div class="item item-divider item-positive list-positive">
        Sleep
      </div>
      <a class="item item-icon-right" href="#/tab/diary/sleep/{{today}}">
        <i class="icon ion-ios7-arrow-right"></i>
        {{diff}} Hours
      </a>
    </div>
	
    <div class="list padding-top" ng-repeat="type in types">
      <div class="item item-divider item-positive item-positive">
        {{type.name}}
      </div>
	  <div>
      <a class="item item-icon-right" href="#/tab/diary/meal/{{today}}/{{type.name}}">
        <i class="icon ion-ios7-arrow-right"></i>
        <span class="prefill" ng-repeat="meal in meals | filter:type.name:todaydate">{{meal.text}}</a>
      </a>
    </div>
    
    
  </ion-content>
</ion-view>
