<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top">


    <!-- Diary Tab -->
  <ion-tab title="Diary" icon="icon ion-android-book" href="#/tab/diary">
    <ion-nav-view name="tab-diary"></ion-nav-view>
  </ion-tab>

  
  <!-- Mental Test Tab -->
  <ion-tab title="Mental Test" icon="icon ion-happy" href="#/tab/mentaltest">
    <ion-nav-view name="tab-mentaltest"></ion-nav-view>
  </ion-tab>

  <!-- Schedule Tab -->
  <ion-tab title="Schedule" icon="icon ion-calendar" href="#/tab/schedule">
    <ion-nav-view name="tab-schedule"></ion-nav-view>
  </ion-tab>


  <!-- Stats Tab -->
  <ion-tab title="Stats" icon="icon ion-stats-bars" href="#/tab/stats">
    <ion-nav-view name="tab-stats"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon="icon ion-ios7-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>
