{% extends "mg-base.html" %}

{% block head %}
	<style>
		img {width:600px;
			border:2px solid #1C21B8;
			vertical-align: middle;}
	</style>
{% endblock %}

{% block main %}
	
	<h1>UWA NTPT Help Page</h1>
	
	<h2>Viewing New Responses</h2>
	
	<p>
		<ol>
			<li>Select the 'Home' tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/viewresponses1.jpg" alt="viewresponses1"></br></br>
			<li>New responses will be located under the welcome message.</li></br>
			<img src="{{ STATIC_URL }}pictures/viewresponses2.jpg" alt="viewresponses2"></br></br>
		</ol>
	</p>
	
	<h2>Adding New Users</h2>
	
	<p>
		<ol>
			<li>Select the 'Users' tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/adduser.jpg" alt="adduser1"></br></br>
			<li>Click on the blue plus sign.</li></br>
			<img src="{{ STATIC_URL }}pictures/adduser2.jpg" alt="adduser2"></br></br>
			<li>Enter the new user's details, and then click the 'Add' button.</li></br>
			<img src="{{ STATIC_URL }}pictures/adduser3.jpg" alt="adduser3"></br></br>
		</ol>
	</p>
	
	<h2>Backing Up Data</h2>
	
	<p>
		<ol>
			<li>Select the 'Backup' tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/backup1.jpg" alt="backup1"></br></br>
			<li>Select the 'Backup Database' option from the drop down menu. Your database will then be downloaded into your computer.</li></br>
			<img src="{{ STATIC_URL }}pictures/backup2.jpg" alt="backup2"></br></br>
		</ol>
	</p>
	
	<h2>Restoring Data</h2>
	
	<p>
		<ol>
			<li>Select the 'Backup' tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/backup1.jpg" alt="restore1"></br></br>
			<li>Select the 'Restore Database' option from the drop down menu.</li></br>
			<img src="{{ STATIC_URL }}pictures/restore1.jpg" alt="restore2"></br></br>
			<li>Select the 'Browse' button, and choose a previously saved backup of your data.</li></br>
			<img src="{{ STATIC_URL }}pictures/restore2.jpg" alt="restore3"></br></br>
			<li>Once you have chosen a file, click on the 'Submit' button.</li></br>
			<img src="{{ STATIC_URL }}pictures/restore3.jpg" alt="restore4"></br></br>
		</ol>
	</p>

	<h2>Viewing and Managing Responses</h2>
	
	<p>
		<ol>
			<li>Select the 'Data management' tab from dark grey navigation bar at the top of the page. From the drop down menu, select whichever response category you would like to view.</li></br>
			<img src="{{ STATIC_URL }}pictures/viewdata1.jpg" alt="viewoldresponses1"></br></br>
			<li>You can search through responses by using the search options.</li></br>
			<img src="{{ STATIC_URL }}pictures/managedata1.jpg" alt="manageresponses1"></br></br>
			<li>You can search delete responses by using the 'Delete' drop down menu.</li></br>
			<img src="{{ STATIC_URL }}pictures/managedata2.jpg" alt="manageresponses2"></br></br>
			<li>You can search export responses by using the 'Data' drop down menu.</li></br>
			<img src="{{ STATIC_URL }}pictures/managedata3.jpg" alt="manageresponses3"></br></br>
		</ol>
	</p>	
	
	<h2>Editing Your Account Details</h2>
	
	<p>
		<ol>
			<li>Select the far right tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/logout1.jpg" alt="account1"></br></br>
			<li>Select the 'Account' option from the drop down menu.</li></br>
			<img src="{{ STATIC_URL }}pictures/account1.jpg" alt="account2"></br></br>
			<li>Before editing your account details, you must first insert your current password.</li></br>
			<img src="{{ STATIC_URL }}pictures/account2.jpg" alt="account3"></br></br>
			<li>When you have finished updating your details, click on the 'Update' button.</li></br>
			<img src="{{ STATIC_URL }}pictures/account3.jpg" alt="account4"></br></br>
		</ol>
	</p>	
	
	<h2>Logging Out</h2>
	
	<p>
		<ol>
			<li>Select the far right tab from dark grey navigation bar at the top of the page.</li></br>
			<img src="{{ STATIC_URL }}pictures/logout1.jpg" alt="logout1"></br></br>
			<li>Select the 'Logout' option from the drop down menu.</li></br>
			<img src="{{ STATIC_URL }}pictures/logout2.jpg" alt="logout2"></br></br>
		</ol>
	</p>	


{% endblock %}