{% extends "mg-base.html" %}
{% with paginate_view='manager:surveylist' %}

{% block main %}
<div class="page-header clearfix">
<h1 class="pull-left">{{survey.name}} responses
</h1>
<div class="pull-right right-group">
<h4 class="pull-right right-group">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4>
</div>
</div>
{% if users %}

<div class="table-responsive">
  {% include 'mg-paginate.html' %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Responses</th>
        <th>Last response</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
          <a href="{% url 'manager:user_detail' pk=user.id %}">
          {{user.id}}
          </a>
        </td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.survey_count}}</td>
        <td>{{user.last_survey}}</td>
        <td><a href="#"><span class="glyphicon glyphicon-search"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'mg-paginate.html' %}
</div>
{% else %}
<p>There are no responses.</p>
{% endif %}

{% endblock %}

{% endwith %}