{% extends "mg-base.html" %}
{% with paginate_view='manager:userlist' %}

{% block main %}
<div class="page-header clearfix">
<h1 class="pull-left">Users
  <a class="btn" href="{% url 'manager:user_add' %}">
    <span class="glyphicon glyphicon-plus"></span>
  </a>
</h1>
<div class="pull-right right-group">
<h4 class="pull-right right-group">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4>
</div>
</div>
{% if users %}

<div class="table-responsive">
  <table id="userlist" class="table table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Active</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
      <tr>
        <td>
          <a href="{% url 'manager:user_detail' pk=user.id %}">
          {{user.id}}
          </a>
        </td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td>{% if user.is_active %}Yes {% else %} No {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% include 'mg-paginate.html' %}
</div>
{% else %}
<p>There are no users...</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  $(function(){
    //Sortable table
    $("#userlist").tablesorter();
  });
</script>
{% endblock %}

{% endwith %}