{% extends "mg-base.html" %}
{% with paginate_view='manager:surveylist' %}

{% block main %}
<div class="page-header clearfix">
<h1 class="pull-left">{{survey.name}} responses by {{user.first_name}} {{user.last_name}}
</h1>
<div class="pull-right right-group">
<h4 class="pull-right right-group">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h4>
</div>
</div>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a id="searcher-btn" class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-search"></span>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form id="searcher" class="navbar-form navbar-left" action="{% url 'manager:user_response_list' spk=survey.id upk=cur_user.id %}" method="get" role="search">
        <div class="form-group">
          <input type="text" class="form-control" name="paginate_by" placeholder="Items per page">
          <input type="submit" class="form-control hiddenfield">
        </div>
      </form>
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Data <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'manager:export_by_user' spk=survey.pk upk=cur_user.pk %}">Export all</a></li>
            <li><a href="{% url 'manager:export_by_user' spk=survey.pk upk=cur_user.pk %}" id="export-selected">Export selected</a></li>
            <li class="divider"></li>
            <li><a href="#" id="invert-selected">Invert selection</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'manager:response_list' pk=survey.id %}">Back</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="alert-danger dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Delete <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <form id="deleter" action="{% url 'manager:user_response_delete' spk=survey.id upk=cur_user.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="filter">
            </form>
            <li><a href="#" id="delete-selected">Delete selected</a></li>
            <li><a href="#" id="delete-all">Delete all</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% if responses %}

<div class="table-responsive">
  <table id="response-set" class="table table-hover">
    <thead>
      <tr>
        <th>Number</th>
        <th>Description</th>
        {% for r in responses %}
        <th><label>{{r.created|date}} <input type="checkbox" value="{{r.id}}"></label></th>
        {% endfor %}
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for q in survey.questions %}
      <tr>
        <td>{{q.number}}</td>
        <td>{{q.description}}</td>
        {% for r in responses %}
        <td>{{rcache|get_item:r|get_item:q.number}}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'mg-paginate.html' %}
</div>
{% else %}
<p>There are no responses.</p>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
  $(function(){
    //CLICKITY CLICK WHY AM I WRITING IN CAPS
    $("#searcher-btn").click(function () {
      $("#searcher").submit();
    });

    //DESELECT ALL on REFRESH
    $(':checkbox:checked').prop('checked',false);
    
    //INVERT SELECTION WHY IS THIS EVEN HERE
    $("#invert-selected").click(function () {
      $("input[type='checkbox']").each(function () {
        $(this).prop('checked', !$(this).prop('checked'));
      });
      
      //Must manually trigger bootstrap menu close since we discard the event
      $('.dropdown.open .dropdown-toggle').dropdown('toggle');
      return false;
    });
    
    //EXPORT SELECTED
    $("#export-selected").click(function () {
      var vals = $("thead input[type='checkbox']:checked").map(function() {
        return this.value;
      }).get();
      if (vals.length > 0) {
        var dest = $(this).attr('href') + "?filter=" + vals;
        window.location = dest;
      }
      
      //Must manually trigger bootstrap menu close since we discard the event
      $('.dropdown.open .dropdown-toggle').dropdown('toggle');
      return false;
    });
    
    //DELETE SELECTED
    $("#delete-selected").click(function () {
      var vals = $("thead input[type='checkbox']:checked").map(function() {
        return this.value;
      }).get();
      if (vals.length > 0) {
        var c = confirm("Are you sure you want to delete the selected responses?");
        if (c) {
          $("#deleter input[name='filter']").val(vals);
          $("#deleter").submit();
        }
      }
    });
    
    //DELETE ALL
    $("#delete-all").click(function () {
      var c = confirm("Are you sure you want to delete ALL responses?");
      if (c) {
        $("#deleter").submit();
      }
    });
  });
</script>
{% endblock %}

{% endwith %}